[Unit]
Description=Ceph monitor

[Service]
Restart=always
TimeoutStartSec=1m
ExecStart=/usr/bin/docker run \
  --name %p \
  --net=host \
  -v /srv/ceph:/var/lib/ceph \
  -e MON_IP=XX_INTERNAL_IP \
  -e CEPH_PUBLIC_NETWORK=XX_INTERNAL_IP/24 \
  -e KV_TYPE=etcd \
  -e CLUSTER=XX_CLUSTER \
  -e KV_IP=127.0.0.1 \
  -e KV_PORT=2379 \
  ceph/daemon:tag-build-master-jewel-ubuntu-16.04 mon

ExecStop=/usr/bin/docker stop -t 30 %p ; /usr/bin/docker rm -f %p

[X-Fleet]
MachineMetadata=n=XX_NODENAME
