[Unit]
Description=etcd
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name %p -v /usr/share/ca-certificates/:/etc/ssl/certs \
 -p 4001:4001 -p 2380:2380 -p 2379:2379 \
 -v /srv/etcd:/srv/etcd \
 --entrypoint /usr/local/bin/etcd \
 quay.io/coreos/etcd \
 --name XX_NODENAME \
 --initial-advertise-peer-urls "http://XX_INTERNAL_IP:2380" \
 --advertise-client-urls "http://XX_INTERNAL_IP:2379,http://XX_INTERNAL_IP:4001" \
 --listen-client-urls "http://0.0.0.0:2379,http://0.0.0.0:4001" \
 --listen-peer-urls "http://0.0.0.0:2380" \
 --initial-cluster-token XX_TOKEN \
 --initial-cluster "XX_INITIAL_CLUSTER" \
 --initial-cluster-state new \
 --data-dir /srv/etcd
ExecStop=/usr/bin/docker stop -t 5 %p ; /usr/bin/docker rm -f %p

[Install]
WantedBy=multi-user.target
