[Unit]
Description=fleet daemon
After=etcd.service
Wants=fleet.socket
After=fleet.socket

[Service]
Environment=GOMAXPROCS=1
Environment=FLEET_METADATA=n=XX_NODENAME
ExecStart=/usr/bin/fleetd
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
