[Unit]
Description=Plotter Metadata
StartLimitBurst=3
StartLimitInterval=24h

[Service]
Restart=always
RestartSec=1m
TimeoutStartSec=30m
ExecStart=/usr/bin/docker run \
  --name %p \
  -v /srv/mrplotter:/etc/mrplotter \
  -p 4523:4523 \
  -e MONGO_IP=XX_MONGO_IP \
  immesys/mrplotter metadata
ExecStop=/usr/bin/docker stop -t 5 %p ; /usr/bin/docker rm -f %p

[X-Fleet]
MachineMetadata=n=XX_NODENAME
