[Unit]
Description=Receiver
StartLimitBurst=3
StartLimitInterval=24h

[Service]
Restart=always
RestartSec=1m
ExecStartPre=/usr/bin/docker pull immesys/btrdb-qs-receiver
ExecStart=/usr/bin/docker run \
  --name %p \
  -p 1883:1883 \
  -e MONGO=XX_MONGO \
  immesys/btrdb-qs-receiver
ExecStop=/usr/bin/docker stop -t 5 %p ; /usr/bin/docker rm -f %p

[X-Fleet]
MachineMetadata=n=XX_NODENAME
